:host {
  --siiid-guinda: #235B4E;
  --siiid-dorado: #BC955C;
  --siiid-bg: #F3F7F5;
}

.sidebar {
  border-top: 5px solid var(--siiid-dorado);
}

.system-info span {
  color: var(--siiid-guinda);
  font-weight: 900;
}

.menu-link:first-child {
  margin-top: 4px;
}