<div class="login-page" style="background-image: url('img/ImgFondo2.png')">
  <div class="login-logo">
    <img src="img/LogoSEGURIDAD.png" alt="Gobierno de México - Seguridad - Secretariado Ejecutivo">
  </div>

  <div class="login-card">
    <div class="login-title">
      Inicio de Sesión
    </div>

    <div class="login-body">
      <div class="version">
        Versión 2.0.0
      </div>

      <form (ngSubmit)="entrar()">
        <div class="field-group">
          <label>Nombre de Usuario</label>
          <input type="text" name="usuario" autocomplete="username" [ngModel]="usuario()"
            (ngModelChange)="usuario.set($event)">
        </div>

        <div class="field-group">
          <label>Contraseña</label>
          <input type="password" name="password" autocomplete="current-password" [ngModel]="password()"
            (ngModelChange)="password.set($event)">
        </div>
        @if (mensajeError()) {
        <div class="login-error">
          {{ mensajeError() }}
        </div>
        }

        <button type="submit" class="btn-login" [disabled]="cargando()">
          @if (cargando()) {
          Entrando...
          } @else {
          Entrar
          }
        </button>
      </form>
    </div>
  </div>
</div>