<aside class="sidebar">
  <div class="user-panel">
<div class="avatar">
  <img src="/img/logoMujBandera.png" alt="Usuario en línea">
</div>

    <div>
      <div class="user-name">gerardo melkart noeller alvarez</div>
      <div class="user-status">EN LÍNEA</div>
    </div>
  </div>

  <div class="version">Ver. 3.0.0</div>

  <nav class="menu">
    <button type="button" class="menu-link menu-button" (click)="toggleCarga()">
      <span>
        <i class="fa-solid fa-upload"></i>
        Carga de Información
      </span>
    </button>

    @if (cargaAbierta()) {
      <button type="button" class="menu-link menu-button level-2" (click)="toggleIncidencia()">
        <span>
          <i class="fa-solid fa-folder"></i>
          Incidencia Delictiva
        </span>
      </button>

      @if (incidenciaAbierta()) {
        <a class="menu-link level-3" routerLink="/carga-inicial" routerLinkActive="active">
          <i class="fa-solid fa-upload"></i>
          Integrar Información
        </a>

        <a class="menu-link level-3" routerLink="/actualizacion" routerLinkActive="active">
          <i class="fa-solid fa-arrows-rotate"></i>
          Actualizar Información
        </a>
      }
    }

    <a class="menu-link" routerLink="/informes" routerLinkActive="active">
      <i class="fa-solid fa-bars"></i>
      Informes
    </a>

    <a class="menu-link" routerLink="/crud-registros" routerLinkActive="active">
      <i class="fa-solid fa-book"></i>
      Catálogos
    </a>

    <a class="menu-link" href="javascript:void(0)">
      <i class="fa-solid fa-gears"></i>
      Configuración
    </a>

    <a class="menu-link" routerLink="/login">
      <i class="fa-solid fa-power-off"></i>
      Cerrar Sesión
    </a>
  </nav>
</aside>